body{
	background-color: darkviolet;
}

h1{
	text-align: center;
	color:white;
}
#liste{
	color:black;
	list-style-type:decimal;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: upper-hexadecimal;
	list-style-position: inside;
}

li{
	border: 1px solid black;
	width: 38px;
	height: 38px;
	background: radial-gradient(darkblue, white);
	text-align: center;
}
ul li:hover{
	height:100px;
	width: 100px;
}
li:nth-child(2n+1){
	background: linear-gradient(red, yellow, green);
}