body{
	background-color: darkviolet;
}

h1{
	text-align: center;
	color:white;
}
#liste{
	color:white;
	list-style-type:decimal;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: upper-hexadecimal;
	list-style-position: inside;
}

li{
	border: 1px solid black;
	width: 38px;
	height: 38px;
	background-color: darkblue;
	text-align: center;
}